{% extends 'payment_api/template.html' %}
{% load static %}
{% block content %}

<style type='text/css'>
    body {
        background-color: whitesmoke;
        box-sizing: border-box;
    }

    .StripeElement {
        box-sizing: border-box;
        height: 40px;
        padding: 10px 12px;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0 3px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
        box-shadow: 0 3px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }

    .label-moves {
        float: left;
        text-align: right;
        margin-right: 15px;
        width: 300px;
    }
</style>


<form autocomplete="off" action="{% url 'charge' %}" method="post" id="payment-form">
    {% csrf_token %}
    <h1>Reciever Details</h1>
    <div class="form-row">
        <label for="rec_name" class="label-moves">
            Recipient Name:
        </label>
        <input required type="text" name="recipient_name" placeholder="Recipient Name">
    </div>

    
    <div class="form-row">
        <label for="rec_acct_no" class="label-moves">
            Recipient Account Number:
        </label>
        <input required type="text" name="recipient_acct_no" placeholder="Recipient Account Number">
    </div>

    <h1>Sender details</h1>
    <div class="form-row">
        <label for="user-email" class="label-moves">
            Sender Email:
        </label>
        <input required type="text" name="email" placeholder="Email...">
    </div>

    <div class="form-row">
        <label for="user-nickname" class="label-moves">
            Sender Name:
        </label>
        <input required type="text" name="nickname" placeholder="Nickname...">
    </div>

    <div class="form-row">
        <label for="user-phone" class="label-moves">
            Sender Phone:
        </label>
        <input required type="text" name="phone" placeholder="Phone...">
    </div>

    <h1>Payment Details</h1>
    <div class="form-row">
        <label for="quantity" class="label-moves">
            Amount:
        </label>
        <input type="number" id="amount" name="amount" min="1">
    </div>
    <!--
    <div class="form-row">
        <label for="amount" class="label-moves">
            Amount
        </label>
        <select required name="amount" id="amount">
            <option selected value="5">$5 -- i make coffee for you</option>
            <option value="10">$10 -- help me and i help you</option>
            <option value="25">$25 -- i love you</option>
        </select>
    </div>
    --->

    <div class="form-row">
        <label for="card-element">
            Credit or Debit card
        </label>

        <div id="card-element">
            <!-- A stripe element will be inserted here --->
        </div>

        <div id="card-errors" role="alert"></div>
    </div>

    <button>Submit Payment</button>
</form>

<script src="https://js.stripe.com/v3/"></script>

<script>
    // Create a stripe client
    var stripe = Stripe('pk_test_51J3oFkCitZGeZ3SIBDlcxndkVwNWllezggmz2a4cwLrqLNzqk0mLMeW1fjfoyjpya0GRmqtkqNQDbQlIUAbcRcCY00tuPZ31Mn');
    // Create an instance of elements
    var elements = stripe.elements()

    var style = {
        base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },

        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a',
        }
    };

    // Create an instance of the card element
    var card = elements.create('card', { style: style });

    // Add an instance of the card element into the 'card-element' <div>
    card.mount('#card-element');

    // Handle real-time validation errors from the card element
    card.addEventListener('change', function (event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        }
        else {
            displayError.textContent = '';
        }
    });

    // Handle form submission
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();

        stripe.createToken(card).then(function (result) {
            if (result.error) {
                // Inform the user if there was an error
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to the server
                stripeTokenHandler(result.token);
            }
        });
    });

    // Submit the form with the token id
    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form
        form.submit();
    }

</script>



{% endblock content %}